
jarvis-config.sh

jarvis-commands

jarvis-record.flac

jarvis-functions.sh

jarvis-record.wav

pocketsphinx-dictionary.dic

pocketsphinx-languagemodel.lm

jarvis-events

pocketsphinx/jarvis-dictionary.dic

pocketsphinx/jarvis-languagemodel.lm
