
jarvis-config.sh

jarvis-commands

jarvis-record.wav

jarvis-events

jarvis.log

jarvis-config.sh.old

config/

stt_engines/snowboy/_snowboydetect.so

stt_engines/snowboy/resources/common.res

stt_engines/snowboy/resources/ding.wav

stt_engines/snowboy/resources/dong.wav

stt_engines/snowboy/resources/snowboy.umdl

stt_engines/snowboy/snowboydecoder.py

stt_engines/snowboy/snowboydecoder.pyc

stt_engines/snowboy/snowboydetect.py

stt_engines/snowboy/snowboydetect.pyc

*.pmdl

hooks/entering_cmd

hooks/exiting_cmd

hooks/program_exit

hooks/program_startup

stt_engines/snowboy/.DS_Store

sounds/.DS_Store

.DS_Store

store/installed/

plugins/
