
jarvis-config.sh

jarvis-commands

jarvis-record.wav

jarvis-events

jarvis.log

jarvis-config.sh.old

config/all_matches

config/check_updates

config/command_stt

config/conversation_mode

config/dictionary

config/google_speech_api_key

config/language

config/language_model

config/max_noise_duration_to_kill

config/min_noise_duration_to_start

config/min_noise_perc_to_start

config/min_silence_duration_to_stop

config/min_silence_level_to_stop

config/play_hw

config/pocketsphinxlog

config/rec_hw

config/tmp_folder

config/trigger

config/trigger_mode

config/trigger_stt

config/tts_engine

config/username

config/wit_server_access_token

stt_engines/snowboy/_snowboydetect.so

stt_engines/snowboy/resources/common.res

stt_engines/snowboy/resources/ding.wav

stt_engines/snowboy/resources/dong.wav

stt_engines/snowboy/resources/snowboy.umdl

stt_engines/snowboy/snowboydecoder.py

stt_engines/snowboy/snowboydecoder.pyc

stt_engines/snowboy/snowboydetect.py

stt_engines/snowboy/snowboydetect.pyc

*.pmdl

config/separator

config/phrase_failed

config/phrase_triggered

config/phrase_welcome

hooks/entering_cmd

config/phrase_misunderstood

hooks/exiting_cmd

hooks/program_exit

hooks/program_startup

config/bing_speech_api_key

config/snowboy_sensitivity

config/osx_say_voice
